@model Vidly.ViewModel.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Movies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Vidly.Models.Movie movie in Model.Movies)
        {
            <tr>
                <td> >@Html.ActionLink(movie.Name, "Details", "Movie", new { id = @movie.Id }, null)</td>
            </tr>
        }
    </tbody>


</table>

